* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Great Vibes', cursive;
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(238, 105, 93, 0.493) 0%, rgba(236, 186, 186, 0.479) 100%), url(./fotoinicio.jpg);
    
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
}
.head {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menuinicio {
    top: 40px;
    right: 40px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 8px rgb(0, 0, 0 .5);
}
.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vh;
    height: 100%;
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgba(0,0, 0, .10);
    cursor: pointer;
   transition: transform .3s ease-in-out;  
    transform: translate(110%);
    
}
.spread {
    transform: translate(0);
}
.menu-navegacion a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px
}
.titulo {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}
.titulo1 {
    font-weight: 20px;
    margin-bottom: 150px;
    font-size: 100px;
    font-family: 'Great Vibes';
    color: azure;
    text-shadow: 0 0 50px rgba(214, 70, 70, 0.9);
}
.copy {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: azure;
    margin-bottom: 100px;
    font-family: 'Open Sans', sans-serif;

}
/* servicios */
.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #8d144c;
    margin-bottom: 40px;
    font-size: 70px;
    
}
.contenedor-servicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;

}
.contenedor-servicio img {
    width: 45%;
}
.checklist-servicio {
    width: 45%;
}
.service {
    margin-bottom: 25px;
}
.n-service {
    margin-bottom: 10px;
    color: #8d144c;
}
.number {
    display: inline-block;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    width: 28px;
    height: 28px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    margin-right: 10px;
    line-height: 25px;
}
.service p {
    font-size: 18px;
    font-weight: 500;
}
.gallery {
    background-color: whitesmoke;
}
.contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
cursor: pointer;
}
.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show {
    transform: translate(0);
}
.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius:15px;
    transform: scale(0);
    transition: transform .3s 2s;
}
.showImage {
    transform: scale(1);
    width: 30%;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    cursor: pointer;
}
.experts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cont-expert {
    width: 30%;
    text-align: center;
    margin-bottom: 25px;
}
.cont-expert img {
    width: 80%;
    display: block;
    margin: 0 auto;
    justify-content: space-evenly;

}
.n-expert1 {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-top: 59px;
    font-family: 'Open Sans', sans-serif;

}
.n-expert2 {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    margin-top: 20px;
}
.n-expert3 {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;

}
footer {
    background: #db619a;
    padding-bottom: 0.1px ;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us {
    width: 40%;
    color: white;
}
.brand {
    font-family: 'Great Vibes';
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 50px;
}
.brand+p {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Open Sans';
}
.social-media {
    width: 50%;
display: flex;
justify-content: flex-end;
}
.social-media-icons {
    display: inline-block;
    width: 60px;
    margin-left: 10px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.social-media-icons:hover {
    background: #fff;
    color: #db619a;
}
.social-media i {
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 3px;
    background: white;
    margin-bottom: 60px;
}
@media screen and (max-width:800px) {
    .menu-navegacion {
        width: 50vw;
    }
    .titulo1{
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .titulo{
        font-size: 30px;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 30px;
    }
    .checklist-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 40px;
    }
    .agregar-imagen{
        width: 80%;
    }
    .img-galeria{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }
    .n-expert2{
        margin-top: 50px;
        margin-bottom: 90px;
    }
    .n-expert3{
        
        margin-top: 50px;
    }
    .n-expert1{
        margin-top: 30px;
        margin-bottom: 40px
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
  .contact-us{
      text-align: center;
      justify-content: center;
      width: 80%;
      margin-bottom: 40px;
  }
}

@media screen and (max-width:500px) {
    .menu-navegacion{
        width: 65vw;
    }
    .agregar-imagen{
        width: 95%;
    }
    .menuinicio{
        top: 30px;
        right: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }
    .img-galeria{
        width: 95%;
    }
    .titulo1{
        font-size: 40px;
    }
    .titulo{
        font-size: 20px;
    }
    .img-galeria{
        width: 95%;
    }
    .social-media{
        width: 100%;
    }
    .contact-us{
        width: 90%;
    }
}
